.coming-soon {
  background: url("./images/background.jpg") center rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-size: cover;
  color: white;
  position: relative;
}

.coming-soon > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border-radius: 0.5rem;
  /* padding: 3rem 2rem; */
}

.card h1 {
  text-align: center;
  margin: 0;
}

svg {
  border-color: white;
  position: absolute;
  top: -10vh;
  left: 50%;
  transform: translateX(-50%);
}

.space-icon {
  max-height: 50px;
  width: auto;
  fill: white;
  position: fixed;
}

.app-logo {
  max-width: 150px;
  display: block;
  margin: 2rem auto;
}
